* {
  direction: rtl;
}

.App {
  text-align: center;
  height: 100vh;
}

input,
textarea,
select {
  all: revert;
}

.main {
  width: 100vw;
  height: 100%;
  background-image: url(./photos/wood-floor-gea31fd5e3_1920.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}